.home-container {
  text-align: center;
}

.header {
  background-color: #3f51b5;
  padding: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  color: white;
  font-size: 18px;
}

.nav-links button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
}

.home-content {
  margin: 50px;
}

.home-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home-content button {
  background-color: #3f51b5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
